<footer class="page-footer orange">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Soobin Lim</h5>
          <p class="grey-text text-lighten-4"></p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Portfolios</h5>
          <ul>
            <li><a class="white-text" href="https://glacial-mesa-78198.herokuapp.com/signup">Tech blog</a></li>
            <li><a class="white-text" href="https://arcane-taiga-08124.herokuapp.com/inventory">Car Material Production</a></li>
            <li><a class="white-text" href="https://lit-shore-98221.herokuapp.com/">Daily Scheduler</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="mailto:sblim.monterrey@gmail.com">Contact</a></li>
            <li><a class="white-text" href="https://github.com/soobin-lim">Git Hub</a></li>
            <li><a class="white-text" href="https://www.linkedin.com/in/soobin-lim-738835210/">Linked in</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      {{!-- Made by <a class="orange-text text-lighten-3" href=""></a> --}}
      </div>
    </div>
  </footer>