<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <br><br>
    <div class="row center">
      <h5 class="header col s12 light">Developer is born in Car Material Factory</h5>
    </div>

    <h1 class="header center black-text">Soobin Lim</h1>

    <div class="row center">
      <a href="http://materializecss.com/getting-started.html" id="download-button"
        class="btn-large waves-effect waves-light orange">Portfolios</a>
    </div>
    <br><br>

  </div>
</div>


<div class="container">
  <div class="section">

    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-blue-text"><i class="material-icons">settings</i></h2>
          <h5 class="center">Instinct to make</h5>

          <p class="light">As a IT employee, It is a likely situation to work in 24 hours ready.
            Just an employee finding excel macros to help.
            But one day I took a travel to near city. I said to my self, I will not come back 
            until I complete an app for company.
          </p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-blue-text"><i class="material-icons">settings</i></h2>
          <h5 class="center">Passion to Automation</h5>

          <p class="light">I wanted to build a tool that works for me in office.
            I could help many people, including my self.
            Production-level apps and coding.
            I asked 'we can make a macro for this, like people use macro for gaming'.
            I did my all to use it in real daily, monthly, yearly work.
          </p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-blue-text"><i class="material-icons">settings</i></h2>
          <h5 class="center">Easy to work with</h5>

          <p class="light">I wanted to access to the most recent technology, the most fast situation.
            I am facing my limit and trying to be better myself as an IT employee.
            I always tried to block time for myself and make something valuable for other people.
          </p>
        </div>
      </div>
    </div>

  </div>
  <br><br>
</div>
{{> footer}}