<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <h4 class="header black-text">Soobin Lim</h4>
  </div>
</div>

<div class="container">

  <div class="section">
    <div class="row">
      <div class="col s12 m4 ">
        <div class="card blue-grey darken-1">
          <div class="card-content white-text">
            <span class="card-title">Contact</span>
            <p>Tel:9991929505, Email: sblim.monterrey@gmail.com</p>
          </div>
          
        </div>
      </div>

      <div class="col s12 m4 ">
        <div class="card blue-grey darken-1">
          <div class="card-content white-text">
            <span class="card-title">Github Profile</span>
            <p>https://github.com/soobin-lim</p>
          </div>
          <div class="card-action"> 
            <a href="https://github.com/soobin-lim">Link</a>
          </div>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="card blue-grey darken-1">
          <div class="card-content white-text">
            <span class="card-title">Linked In Profile</span>
            <p>https://www.linkedin.com/in/soobin-lim-738835210/</p>
          </div>
          <div class="card-action">
            <a href="#">https://www.linkedin.com/in/soobin-lim-738835210/</a>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="row">
    <div class="col s12 m12 left">
      <H4>Portfolios</h4>
    </div>
  </div>

  <div class="row">

    <div class="col s12 m4 center ">
      <a href="https://glacial-mesa-78198.herokuapp.com/signup">
        <div class="card-panel portfolio1">
          <div class="icon-block grey-text text-darken-3">
            <h5>Tech Blog</h5>
              {{!-- <h5 class="center btn-large blue-grey darken-1">Portfolio 1 </h5> --}}
          </div>
        </div>
      </a>
    </div>

    <a href="https://arcane-taiga-08124.herokuapp.com/inventory">
      <div class="col s12 m4 center ">
        <div class="card-panel portfolio2" style="background-image: url('/images/2.png');background-repeat: repeat;
    background-size: contain; ">
          <div class="icon-block grey-text text-darken-3">
            <h5>Car Material Production</h5>
          </div>
        </div>
      </div>
    </a>

    <a href="https://lit-shore-98221.herokuapp.com/">
      <div class="col s12 m4 center ">
        <div class="card-panel portfolio3" style="background-image: url('/images/3.png');background-repeat: repeat;
    background-size: contain; ">
          <div class="icon-block grey-text text-darken-3">
            <h5>Daily Scheduler</h5>
          </div>
        </div>
      </div>
    </a>

  </div>


  <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Modal Header</h4>
      <p>A bunch of text</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
  </div>

  <br>
  <br>
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script type="text/javascript" src='javascripts/main.js'></script>
  {{> footer}}